/* screen size break points Slideshow
  900 px 56.25em
  660 px 41.25em

  // 900px
   @media only screen and (max-width: 56.25em) {
   }
   660px
   @media only screen and (max-width: 41.25em) {
  }

/* screen size break points Gallery
  950 px 59.375em
  600 px 37.5em

  // 950px
   @media only screen and (max-width: 59.375em) {
   }
   600px
   @media only screen and (max-width: 37.5em) {
   }

59,375

*/


@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
:root {
  --black: #000;
  --grey-dark: #7d7d7d;
  --grey-light-1: #e5e5e5;
  --grey-light-2: #f3f3f3;
  --white: #fff;

}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Libre Baskerville", serif;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

body {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  margin-inline: auto;
  max-width: 147.9rem;
  padding-top: 3rem;
  padding-inline: 2rem;
  overflow-x: hidden;
}

/* ----- TYPOGRAPHY ----- */
.display {
  font-family: inherit;
  font-size: 20rem;
  line-height: 15rem;
  color: var(--grey-light-2);
  font-weight: 700;
}
.logo {
  font-size: 4.8rem;
}

/* heading  */
h1 {
  font-family: inherit;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: var(--black);
  font-weight: 700;
}
h2 {
  font-family: inherit;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--black);
  font-weight: 700;
}
h3 {
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--black);
  font-weight: 700;
}

/* Subheading */
h4 {
  font-family: inherit;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: var(--black);
  font-weight: 400;
}
h5 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--grey-dark);
  font-weight: 700;
}

/* Links */
a.start-slideshow {
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 2.5px;
  color: var(--grey-dark);
  font-weight: 700;
  cursor: pointer;
}
a.start-slideshow:hover {
  color: var(--black);
}

a.source {
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  color: var(--black);
  font-weight: 700;
}

/*  ---- HEADER ---- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}

/*  ---- Gallery ---- */

.main-container {
  max-width: 144rem;
  margin-inline: auto;
}

.gallery {
  columns: 4 auto;
  column-gap: 4rem;
  overflow: hidden;
  padding-bottom: 2rem;
  @media only screen and (max-width: 59.375em) {
    columns: 2 auto;
  }
  @media only screen and (max-width: 37.5em) {
    columns: 1 auto;
  }
}

.gallery-element {
  position: relative;
  margin-bottom: 4rem;
  cursor: pointer;
}

.gallery-thumbnail {
  width: 100%;
  height: 100%;
}

.gallery-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-image: linear-gradient(0deg, #000000, #ffffff00 60%);
}

.gallery-element:hover.gallery-element::before {
  background-image: linear-gradient(0deg, #000000, #ffffffa1 60%);
}

.thumbnail-links {
  position: absolute;
  bottom: 3.2rem;
  padding-inline: 3.2rem;
}
.thumbnail-links h2 {
  margin-bottom: 0.7rem;
}

/*  ---- Slideshow ---- */

.container-slideshow {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: 62.4rem;
  position: relative;
  
  @media only screen and (max-width: 56.25em) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.left,
.right {
  position: relative;
}
.left {
  @media only screen and (max-width: 41.25em) {

  }
}
.right {
  padding-left: 5rem;
  @media only screen and (max-width: 56.25em) {
    padding-left: 0rem;
    margin-inline: auto;
  }
  
}

.img-title {
  position: absolute;
  background-color: var(--white);
  width: 40rem;
  padding-left: 6.4rem;
  padding-bottom: 6.7rem;
  top: 0;
  right: 0%;
  z-index: -2;

  @media only screen and (max-width: 41.25em) {
    height: 10rem;
  padding-left: 0rem;
  padding-top: 2rem;
  top:70%;
  bottom: 0;
  left: 4rem;
  }
}


.btn-focus-view {
  transform: translate(6rem, -200%);
  z-index: 100;
  background-color: #000000de;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
  cursor: pointer;

  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 2.5px;
  color: var(--white);
  border: none;
  padding: 1rem 2rem;
  font-weight: 400;

  @media only screen and (max-width: 56.25em) {
    transform: translate(2rem, -130%);
  }
  @media only screen and (max-width: 41.25em) {
    position: absolute;
    top: 9rem;
    left: 4rem;
  }

  
}

.btn-focus-view:hover {
  background-color: #dbdada54;
}

.img-hero {
  width: 100%;
  z-index: -10;
  max-width: 45rem;
  position: relative;
  @media only screen and (max-width: 41.25em) {
    max-width: 60rem;
    padding-inline: 4rem;
    max-height: 50;
  }
}

.img-artist {
  position: absolute;
  bottom: 0%;
  right: 20rem;
  @media only screen and (max-width: 56.25em) {
    top: 23.6rem;
    left: 46rem;
  }

  @media only screen and (max-width: 41.25em) {
    position: relative;
    top: 6rem;
    left: 4rem;
  }
}
.date {
  top: 0%;
  right: 0%;
  position: absolute;
  z-index: -1;

  @media only screen and (max-width: 56.25em) {
  right: -15%;}
    @media only screen and (max-width: 41.25em) {
    top: 8rem;

  }
}
.description {
  max-width: 35rem;
  padding-top: 12rem;
  line-height: 2.8rem;
  z-index: 400;
}

/* --- Pop up --- */

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000094;
  backdrop-filter: blur(3px);
  z-index: 2000;

  display:grid;
  grid-template-rows: 8% 80%;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  text-align: right;
}
.pop-up-img{
  height: 100%;

  @media only screen and (max-width: 41.25em) {
  width: 90%;
    display: block;
    object-fit: contain;
    margin-inline: auto;
  }
}
.close-pop-up{
  align-self: last baseline;
  justify-self: right;
  background-color: transparent;
  border: none;

  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 2.5px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  @media only screen and (max-width: 41.25em) {
    margin-right: 5%;
  }
}

/* --- Footer --- */

footer {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.stepper {
  position: relative;
}

.footer-stepper {
  position: absolute;
  top: -50%;
  left: 0;
}

.footer-content {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button:disabled {
  fill: var(--grey-dark);
  cursor: not-allowed;
}

.footer-nav-btn {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
.footer-nav-btn:hover {
  fill: var(--grey-dark);
}

/* utilities */
.u-white {
  color: var(--white);
}

.u-max-content-width {
  max-width: 143.9rem;
}

.u-16px {
  height: 1.6rem;
  text-transform: uppercase;
}

.u-flex-fullsize {
  flex-basis: 100%;
}

.u-24-bottom {
  padding-bottom: 2.4rem;
}

.u-12-bottom {
  padding-bottom: 1.2rem;
}

.u-align-right{
  text-align: right;
  margin-right: 4rem;
}